a:link{
    color:rgb(124, 155, 216);
    text-decoration: none;
        
    }
a:visited{
    color: rgb(124, 155, 216);
    
}
a:hover{
    color: rgb(224, 56, 56);
    text-decoration: underline;
}
a:active{
    color:rgb(102, 219, 137);
}
.disa{
    width:100px;
    height: 50px;
    background-color: rgb(233, 143, 192);
    line-height: 50px;
    display: block;
    text-align: center;
}
input:focus{
    background-color: chartreuse;
}
.mid {
    text-align: center;
}

.word {
    font-family: 'Times New Roman', Times, serif
}
.red {
    color: red;
}
.pink {
    color: rgb(216, 130, 144);
}
table,
td
{
    border:1px solid pink;
    border-spacing: 0px;
}
